name: .NET

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  run-tests:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    - name: Setup .NET
      uses: actions/setup-dotnet@v3
      with:
        dotnet-version: | 
          6.x
          8.x
    - name: Restore dependencies
      run: dotnet restore ConductorSharp.sln
    - name: Build
      run: dotnet build --no-restore ConductorSharp.sln
    - name: Test
      run: dotnet test --no-restore --verbosity normal test/ConductorSharp.Engine.Tests